name: Validate CI workflows

on:
  pull_request:
    paths: [.github/workflows/*]
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

env:
  # renovate: datasource=pypi depName=uv
  UV_VERSION: '0.9.7'
  # renovate: datasource=pypi depName=zizmor
  ZIZMOR_VERSION: '1.16.3'

permissions: {}

jobs:
  validate-ci-workflows:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          persist-credentials: false

      - name: Install uv
        uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7
        with:
          version: ${{ env.UV_VERSION }}

      - name: Run zizmor
        run: uvx zizmor@${ZIZMOR_VERSION} .
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
