name: Validate CI workflows

on:
  pull_request:
    paths: [.github/workflows/*]
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

env:
  # renovate: datasource=pypi depName=uv
  UV_VERSION: '0.9.12'
  # renovate: datasource=pypi depName=zizmor
  ZIZMOR_VERSION: '1.16.3'

permissions: {}

jobs:
  validate-ci-workflows:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          persist-credentials: false

      - name: Install uv
        uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7
        with:
          version: ${{ env.UV_VERSION }}

      - name: Run zizmor
        run: uvx zizmor@${ZIZMOR_VERSION} .
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
