name: Validate CI workflows

on:
  pull_request:
    paths: [.github/workflows/*]
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

env:
  # renovate: datasource=pypi depName=uv
  UV_VERSION: '0.9.26'
  # renovate: datasource=pypi depName=zizmor
  ZIZMOR_VERSION: '1.22.0'

permissions: {}

jobs:
  validate-ci-workflows:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
        with:
          version: ${{ env.UV_VERSION }}

      - name: Run zizmor
        run: uvx zizmor@${{ env.ZIZMOR_VERSION }} .
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
