name: Validate Renovate configuration

on:
  pull_request:
    paths:
      - .github/workflows/validate-renovate-config.yml
      - .github/renovate.json5
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.head_ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  validate-renovate-config:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
         persist-credentials: false

      - run: npx -p renovate renovate-config-validator
