name: Validate Renovate configuration

on:
  pull_request:
    paths:
      - .github/workflows/validate-renovate-config.yml
      - .github/renovate.json5
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

permissions: {}

jobs:
  validate-renovate-config:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
         persist-credentials: false

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          # renovate: datasource=npm depName=pnpm
          version: '10.29.3'

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          # renovate: datasource=node depName=node versioning=node
          node-version: '24'

      # Avoid installing packages that are newer than 1 week old to reduce supply chain attacks probability.
      - run: pnpm config set minimumReleaseAge 10080

      - run: pnpm --package renovate dlx renovate-config-validator
